.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.page__body {
  display: grid;
  grid-template-rows: 84px auto 82px;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F5F5F9;
  padding-bottom: 13px;
}

.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 0.13em;
  color: #48494D;
}

.logo__image {
  margin-top: 15px;
  margin-right: 21px;
}

.logo__inner {
  display: flex;
  flex-direction: column;
}

.logo__text {
  display: block;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.logo__text:first-of-type {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
}

.logo__text:last-of-type {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
}

.header__list {
  display: flex;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  margin: 0;
  padding: 0;
  margin-top: 29px;
}

.header__item:not(:last-of-type) {
  margin-right: 69px;
}

.header__link {
  display: block;
  color: #48494D;
  text-decoration: none;
}

.page__main {
  display: grid;
  grid-template-columns: 585px 585px;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 110px;
}

.slider {
  margin-top: 18px;
  margin-left: -6px;
}

.preview__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 85px;
}

.preview__wrapper::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  left: -10px;
  top: 13px;
  transform: rotate(180deg);
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  border: 1px solid #D7D9DF;
  border-radius: 50%;
  background-position: 50% 50%;
  cursor: pointer;
}

.preview__wrapper::after {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  right: -10px;
  top: 15px;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  border: 1px solid #D7D9DF;
  border-radius: 50%;
  background-position: 50% 50%;
  cursor: pointer;
}

.preview__label {
  cursor: pointer;
}

.preview__label:checked {
  margin-top: 50px
}

.preview__label:nth-of-type(2) {
  margin: 0 25px;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-left: 67px;
}

.info__header {
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #48494D;
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  margin-top: 2px;
}

.info__list {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 7px;
}

.info__item {
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: rgba(72, 73, 77, 0.5);
}

.info__item:not(:last-of-type) {
  margin-right: 14px;
}

.info__item:last-of-type {
  margin-left: 16px;
}

.info__item--gasoline::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  top: -28px;
  left: 16px;
  background-image: url('../img/gasoline.svg');
  background-repeat: no-repeat;
}

.info__item--transmission::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 24px;
  top: -30px;
  left: 24px;
  background-image: url('../img/transmission.svg');
  background-repeat: no-repeat;
}

.info__item--horsepower::before {
  position: absolute;
  content: '';
  width: 31px;
  height: 21px;
  top: -29px;
  left: 12px;
  background-image: url('../img/horsepower.svg');
  background-repeat: no-repeat;
}

.info__item--engine::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 25px;
  top: -29px;
  left: 3px;
  background-image: url('../img/engine.svg');
  background-repeat: no-repeat;
}

.info__price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 38px;
}

.info__current-price {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  margin: 0;
  margin-right: 34px;
  color: #48494D;
}

.info__prev-price {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #A3A4A6;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  letter-spacing: 0.04em;
}

.info__prev-price::before {
  position: absolute;
  content: '';
  width: 125px;
  height: 1px;
  top: 18px;
  left: -6px;
  transform: rotate(355deg);
  background-color: #A3A4A6;
}

.info__request {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  padding: 18px;
  padding-bottom: 16px;
  padding-right: 15px;
  margin-left: -3px;
  margin-bottom: 15px;
  width: 162px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #D12136;
  text-decoration: none;
}

.info__credit {
  display: block;
  width: 223px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 17px;
  padding-top: 16px;
  margin-left: -3px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid #D12136;
  color: #D12136;
  text-decoration: none;
}

.tabs__inner {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 0;
  padding: 0;
}

.tabs__label {
  flex-grow: 3;
  display: block;
  width: 195px;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid #D7D9DF;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #48494D;
  cursor: pointer;
}

.tabs__input:checked + .tabs__label {
  background-color: #D12136;;
  color: white;
  border: none;
  padding-top: 13px;
  padding-bottom: 9px;
}

.tabs__label + .tabs__label {
  margin: -1px 0 -1px 0px;
}

.specifications {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 565px;
  margin-top: 30px;
  padding-bottom: 8px;
}

.specifications__list {
  margin: 0;
  padding: 0;
}

.specifications__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #D7D9DF;
}

.specifications__header {
  display: block;
  color: #48494D;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.specifications__detail {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F5F5F9;
}

.footer__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}

.footer__item {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #48494D;
  margin: 0;
  padding: 30px 0;
}

.footer__item:not(:last-of-type) {
  margin-right: 66px;
}

.footer__link {
  display: block;
  margin: 0;
  padding: 0;
  color: #48494D;
  text-decoration: none;
}

.main__reviews {
  grid-column-start: 1;
  grid-column-end: 3;
}

.reviews {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review {
  position: relative;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.review__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #48494D;
  margin: 0;
  margin-bottom: 14px;
}

.review__points {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review__item {
  margin-bottom: 15px;
}

.review__item:not(:nth-of-type(3)) {
  margin-left: 19px;
}

.review__item:nth-child(3) {
  margin-bottom: 5px;
}

.review__item:nth-child(1)::before {
  position: absolute;
  content: '+';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  left: 0;
  color: #D12136;
}

.review__item:nth-of-type(2)::before {
  position: absolute;
  content: '–';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  left: 0;
  color: #D12136;
}

.review__item-header {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 3px;
}

.review__item-text {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #000000;
}

.review__rate {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

.review__rate-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
}

.review__rate-item:not(:last-of-type) {
  margin-right: 5px;
}

.review__rate-summary {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #D12136;
}

.review__actions {
  display: flex;
  margin-bottom: 17px;
}

.review__actions-time {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  margin-right: 29px;
}

.review__actions-answer {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: #D12136;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
}

.reviews__add-review {
  display: block;
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #D12136;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid #D12136;
  box-sizing: border-box;
  padding: 15px;
  background-color: inherit;
}

.main__contacts {
  grid-column-start: 1;
  grid-column-end: 3;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.contacts__list {
  width: 284px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  list-style: none;
}

.contacts__item:not(:last-of-type) {
  margin-bottom: 25px;
}

.contacts__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: #1A212F;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.contacts__text:first-of-type {
  margin-top: 12px;
}

.contacts__item:not(:nth-of-type(1)) .contacts__text {
  margin-top: 9px;
}

.contacts__map {
  position: relative;
  margin-left: 64px;
  margin-top: 30px;
}

.contacts__map::before {
  position: absolute;

}

.popup {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 698px;
  height: 415px;
  margin: 40px auto;
  background: #F5F5F9;
}

.popup__header {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #48494D;
  margin: 45px 0;
  margin-right: 4px;
}

.popup__form {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  column-gap: 28px;
  flex-direction: row;
  flex-wrap: wrap;
}

.popup__field {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.popup__text-input {
  position: relative;
  width: 300px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
  box-sizing: border-box;
  padding: 15px 25px;
}

.popup__text-input:focus {
  border: 1px solid #FF0000;
}

.popup__text-input::before {
  position: absolute;
  content: '–';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  left: 0;
  color: #D12136;
}

.popup__text-input:not(:last-of-type) {
  margin-bottom: 16px;
}

.popup__stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  border: none;
  margin: 0;
  padding: 0;
}

.popup__stars-header {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-right: 8px;
}

.popup__stars-label {
  margin-top: 6px;
}

.popup__comment {
  width: 300px;
  height: 118px;
  font-family: 'Open sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  padding: 14px 24px;
  box-sizing: border-box;
  resize: none;
  background: #FFFFFF;
  border: 1px solid rgba(72, 73, 77, 0.2);
}

.popup__submit {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 35px;
  padding: 16px 17px;
  background-color: #D12136;
  border: none;
}

.popup__close {
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  top: 38px;
  right: 25px;
  background-image: url('../img/cross.svg');
  background-color: inherit;
  border: none;
  cursor: pointer;
}