@import './blocks/visually-hidden.scss';
@import './variables.scss';
@import './fonts.scss';

@import './blocks/logo.scss';
@import './blocks/header.scss';
@import './blocks/slider.scss';
@import './blocks/info.scss';
@import './blocks/tabs.scss';
@import './blocks/specifications.scss';
@import './blocks/footer.scss';
@import './blocks/reviews.scss';
@import './blocks/review.scss';
@import './blocks/contacts.scss';
@import './blocks/popup.scss';

.page__body {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.page__root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__main {
  display: grid;
  grid-template-columns: 585px 585px;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 110px;
}

.main__reviews {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main__contacts {
  grid-column-start: 1;
  grid-column-end: 3;
}
