// main colors

$branded-red: #D12136;
$text-dark-gray: #48494D;
$text-light-gray: #A3A4A6;
$white: #ffffff;
$black: #000000;
$border-gray: #D7D9DF;
$text-black: #1A212F;
$background-light-gray: #F5F5F9;

// specific colors

$info-item-gray: rgba(72, 73, 77, 0.5);
$item-focus: #FF0000;
$border-gray: rgba(0, 0, 0, 0.2);
$popup-text: rgba(72, 73, 77, 0.2);
$popup-comment-border: rgba(168, 168, 168, 0.2);
$button-hover: #BD0C21;
$unselected-star: rgba(189, 190, 194, 0.7);
