.contacts {
  display: flex;
  flex-direction: row;
}

.contacts__list {
  width: 284px;
  padding: 0;
  margin: 0;
  margin-top: 24px;
  list-style: none;
}

.contacts__item:not(:last-of-type) {
  margin-bottom: 25px;
}

.contacts__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  color: $text-black;
}

.contacts__text {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $black;
}

.contacts__text:first-of-type {
  margin-top: 12px;
}

.contacts__item:not(:nth-of-type(1)) .contacts__text {
  margin-top: 9px;
}

.contacts__map {
  position: relative;
  margin-left: 64px;
  margin-top: 30px;
}

.contacts__map::before {
  position: absolute;
}
