.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-light-gray;
}

.footer__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 6px;
}

.footer__item {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: $text-dark-gray;
  margin: 0;
  padding: 30px 0;
}

.footer__item:not(:last-of-type) {
  margin-right: 66px;
}

.footer__link {
  display: block;
  margin: 0;
  padding: 0;
  color: $text-dark-gray;
  text-decoration: none;
}
