.info {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-left: 67px;
}

.info__header {
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: $text-dark-gray;
  margin: 0;
  padding: 0;
  margin-bottom: 61px;
  margin-top: 2px;
}

.info__list {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 7px;
}

.info__item {
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  text-align: center;

  color: rgba(72, 73, 77, 0.5);
}

.info__item:not(:last-of-type) {
  margin-right: 14px;
}

.info__item:last-of-type {
  margin-left: 16px;
}

.info__item--gasoline::before {
  position: absolute;
  content: '';
  width: 23px;
  height: 23px;
  top: -28px;
  left: 16px;
  background-image: url('../../img/gasoline.svg');
  background-repeat: no-repeat;
}

.info__item--transmission::before {
  position: absolute;
  content: '';
  width: 26px;
  height: 24px;
  top: -30px;
  left: 24px;
  background-image: url('../../img/transmission.svg');
  background-repeat: no-repeat;
}

.info__item--horsepower::before {
  position: absolute;
  content: '';
  width: 31px;
  height: 21px;
  top: -29px;
  left: 12px;
  background-image: url('../../img/horsepower.svg');
  background-repeat: no-repeat;
}

.info__item--engine::before {
  position: absolute;
  content: '';
  width: 30px;
  height: 25px;
  top: -29px;
  left: 3px;
  background-image: url('../../img/engine.svg');
  background-repeat: no-repeat;
}

.info__price-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 38px;
}

.info__current-price {
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  margin: 0;
  margin-right: 34px;
  color: $text-dark-gray;
}

.info__prev-price {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: $text-light-gray;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  letter-spacing: 0.04em;
}

.info__prev-price::before {
  position: absolute;
  content: '';
  width: 125px;
  height: 1px;
  top: 18px;
  left: -6px;
  transform: rotate(355deg);
  background-color: $text-light-gray;
}

.info__request {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.12em;
  padding: 18px;
  padding-bottom: 16px;
  padding-right: 15px;
  margin-left: -3px;
  margin-bottom: 15px;
  width: 162px;
  text-transform: uppercase;
  color: $white;
  background-color: $branded-red;
  text-decoration: none;
}

.info__credit {
  display: block;
  width: 223px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding: 15px 17px;
  padding-top: 16px;
  margin-left: -3px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  border: 1px solid $branded-red;
  color: $branded-red;
  text-decoration: none;
}