.review {
  position: relative;
  border-bottom: 0.5px solid $border-gray;
  margin-bottom: 20px;
}

.review__header {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: $text-dark-gray;
  margin: 0;
  margin-bottom: 14px;
}

.review__points {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review__item {
  margin-bottom: 15px;
}

.review__item:not(:nth-of-type(3)) {
  margin-left: 19px;
}

.review__item:nth-child(3) {
  margin-bottom: 5px;
}

.review__item:nth-child(1)::before {
  position: absolute;
  content: '+';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  left: 0;
  color: $branded-red;
}

.review__item:nth-of-type(2)::before {
  position: absolute;
  content: '–';
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  left: 0;
  color: $branded-red;
}

.review__item-header {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  margin-bottom: 3px;
}

.review__item-text {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  color: #000000;
}

.review__rate {
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
}

.review__rate-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: 20px;
}

.review__rate-item:not(:last-of-type) {
  margin-right: 5px;
}

.review__rate-summary {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: $branded-red;
}

.review__actions {
  display: flex;
  margin-bottom: 17px;
}

.review__actions-time {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  margin: 0;
  padding: 0;
  margin-right: 29px;
}

.review__actions-answer {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  color: $branded-red;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
}
