.slider {
  position: relative;
  margin-top: 16px;
  margin-left: -6px;

  &::before {
    position: absolute;
    content: 'new model';
    left: 0;
    top: 0;
    width: 122px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    padding: 10px;
    color: #FFFFFF;
    background-color: $branded-red;
  }
}

.slider__preview {
  position: relative;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-left: 10px;
  margin-bottom: 82px;
}

.slider__button {
  position: absolute;
  content: '';
  width: 52px;
  height: 52px;
  top: 14px;
  background-color: inherit;
  background-image: url('../../img/arrow.svg');
  background-repeat: no-repeat;
  border: 1px solid $border-gray;
  border-radius: 50%;
  background-position: 50% 50%;
  cursor: pointer;

  &--left {
    left: 1px;
    transform: rotate(180deg);
  }

  &--right {
    right: -9px;
  }

  &--disabled {
    opacity: 50%; 
  }
}

.slider__label {
  cursor: pointer;

  &:checked {
    margin-top: 50px
  }
  
  &:nth-of-type(2) {
    margin: 0 25px;
  }
}
