.slider {
  margin-top: 18px;
  margin-left: -6px;
}

.slider__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-left: 10px;
  margin-bottom: 85px;
}

.slider__wrapper::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 50px;
  left: -10px;
  top: 13px;
  transform: rotate(180deg);
  background-image: url('../../img/arrow.svg');
  background-repeat: no-repeat;
  border: 1px solid $border-gray;
  border-radius: 50%;
  background-position: 50% 50%;
  cursor: pointer;
}

.slider__wrapper::after {
  position: absolute;
  content: '';
  width: 48px;
  height: 48px;
  right: -10px;
  top: 15px;
  background-image: url('../../img/arrow.svg');
  background-repeat: no-repeat;
  border: 1px solid $border-gray;
  border-radius: 50%;
  background-position: 50% 50%;
  cursor: pointer;
}

.slider__label {
  cursor: pointer;
}

.slider__label:checked {
  margin-top: 50px
}

.slider__label:nth-of-type(2) {
  margin: 0 25px;
}
