.tabs__inner {
  display: flex;
  flex-direction: row;
  border: none;
  margin: 0;
  padding: 0;
}

.tabs__item {
  flex-grow: 3;
  display: block;
  width: 195px;
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
  border: 1px solid $border-gray;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: $text-dark-gray;
  cursor: pointer;

  &:nth-of-type(2) {
    border-left: none;
    border-right: none;
  }

  &--checked {
    background-color: $branded-red;
    color: $white;
    border: none;
    padding-top: 13px;
    padding-bottom: 9px;
  
    &:hover {
      background-color: $button-hover;
    }
  }  
}
